body{
    padding: 0;
    margin: 0;
    font-family: 'Anek Tamil', sans-serif;
}

button {
    cursor: pointer;
    min-height: 1em;
    border: none;
    background-color: #0078D7;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    border-radius: 0.2rem;
    padding: 0.5rem 1.2rem; 
}

button:hover {
    background-color: #2b88D8;
}

button:active {
    background-color: #00B294
}

select{
    padding: 0.5rem 0.9rem;
    border: 1px solid #bbb;
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    font-size: 0.9rem;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

tr{
    text-align: center;
}
.select{
    margin-left: 0.7rem;
}

.options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.options div{
    margin-left: 1rem;
}

#app-holder{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#navbar{
    color: white;
    background-color: 	#787878;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}

.navtitle{
    font-size: large;
    font-weight: 700;
    padding: 1rem;
}

#navlinks{
    display: flex;
}

.navlink{
    padding: 1rem;
}

.navlink a:visited {
    color: white;
}

.navlink a:hover {
    color: #ddd;
}

.titleHead{
    padding-top: 1rem;
}

.account-row {
    display: flex;
}

.account-row .header {
    flex-basis: 40%;
}

.account-row .bold {
    font-weight: 700;
}

.container{
    flex-grow: 1;
    padding: 0rem 1rem;
}

.segment{
    padding: 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 0.3rem;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}

.headline{
    font-weight: 500;
    padding: 0.8em 0em;
}

.headline a {
    text-decoration: none;
    color: black;
}

.headline a:hover {
    font-size: large;
    font-weight: 700;
    color: cornflowerblue;
}

.progress {
    height: 1.5rem;
    border-radius: 0.3rem;
}

.progress-holder {
    background-color: rgb(222,222,222);
}

.progress-text {
    text-align: center;
    font-weight: 700;
}

.progress-wrap {
    margin: 1.0rem 0rem;
}

#price-chart-holder {
    min-height: 600px;
    height: calc(100vh - 400px);
}

#chartDiv {
    height: calc(100% - 50px);
}

#footer {
    display: flex;
    padding: 1rem;
    font-weight: medium;
    background-color: #787878;
    color:white;
    margin-top: 2rem;
    height: 30px;
    flex-grow: 0;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.footerlink a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.footerlink a:hover {
    color: cornflowerblue;
}

.githublogo {
    color: white;
    max-width: 10%;
    max-height: 10%;
    margin-top: 3px;
}